<!DOCTYPE html>
<html>
    <head>  
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css">
        <link href="css/all.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/fontawesome.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="css/bootstrap.css">

        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
        <script src="js/bootstrap.min.js"></script>



        <script src="js/bootstrap.min.js" type="text/javascript"></script>
        <script src="resources/angular.min.js" type="text/javascript"></script>




        <script src="js/jquery-3.3.1.min.js"></script>


        <title>LOG IN PAGE</title>  

    </head>
    <body ng-app="simpleApp">

        <div class="container" ng-controller="simpleCtrl">
            <div class="wrap">

                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar navbar-expand-lg navbar-light bg-danger mb-5 fixed-top" style="height: 100px;" role="navigation">
                            <i class="fa fa-th fa-2x text-light m-5"></i><p class="lead text-light" style="font-size: 35px;">ON TOPIC</p>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <div class="row">
                                    <a href="adminLogin.html" class="btn btn-warning text-dark px-5" style="margin-left: 850px;"><i class="fa fa-user-shield fa-2x text-light m-1"></i>ADMIN</a>

                                </div>

                            </div>
                        </nav>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">


                </div>
            </div>

            <hr/>
            <div class="row" style="margin-top: 150px;">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="alert alert-danger text-light bg-dark" role="alert">
                        <i class="fa fa-ban text-light fa-2x m-2"></i> {{failedMsg}}
                    </div>
                    <form ng-submit="loginMember()">
                        <div class="input-group-text bg-dark"> <i class="fa fa-user text-light fa-2x m-2"></i> &nbsp;<input type="text" class="form-control" placeholder="username" ng-model="loginForm.name"></div>
                        <br>
                        <div class="input-group-text bg-dark"> <i class="fa fa-user-lock text-light fa-2x m-1"></i> &nbsp;
                            <input type="password" class="form-control" placeholder="password" ng-model="loginForm.passw"></div><br/>
                        <input type="submit" class="form-control btn btn-dark" value="LOG IN">
                        <a href="registration.html" style="margin:45px; margin-left: 250px; font-size: 20px;" class="text-dark">Become A Member <i class="fa fa-user-plus fa-2x m-3"></i></a> 
                    </form>
                </div>
                <div class="col-md-3">

                </div>
            </div>


            <hr/>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <i class="fa fa-share-alt text-danger fa-3x m-3"></i> 
                    <i class="fa fa-thumbs-up text-danger fa-3x m-3"></i> 
                    <i class="fa fa-user-secret text-danger fa-3x m-3"></i> 
                    <i class="fa fa-anchor text-danger fa-3x m-3"></i> 
                    <i class="fa fa-mask text-danger fa-3x m-3"></i> 
                    <i class="fa fa-lock text-danger fa-3x m-3"></i> 
                   
                </div>
                <div class="col-md-3"></div>
            </div>

        </div>

        <script>
            var app = angular.module("simpleApp", []);
            app.controller("simpleCtrl", function ($scope, $http) {

                $scope.failedMsg = "YOU NEED TO LOG IN FIRST";
                $scope.simples = [];


                $scope.loginForm = {
                    name: "",
                    passw: ""
                };
                refreshSimpleData();

                //Json Post Data
                function refreshSimpleData() {
                    $http({
                        method: 'GET',
                        url: 'http://localhost:8080/ONTOPIC/service/member'
                    }).then(function (response) {
                        $scope.simples = response.data;
                        console.log($scope.simples);
                    });
                }
                ;

                $scope.loginMember = function () {


                    for (var i = 0; i < $scope.simples.length; i++) {
                        if ($scope.simples[i].name === $scope.loginForm.name && $scope.simples[i].pass === $scope.loginForm.passw) {
                            $scope.failedMsg = "";
                            window.location = "home.html";
                        } else {
                            $scope.failedMsg = "LOG IN FAILED";
                        }
                    }
                }
            });



        </script>


    </body>
</html>